/* login.component.css */

.login-container {
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-card {
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
   
  }
  
  mat-card {
    text-align: center;
  }
  .modal.fade .modal-dialog {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  .modal.show .modal-dialog {
    transform: translateY(0);
  }
  