<div class="container mt-4">
  <!-- Card with Header -->
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3>Appointments List</h3>
      <div class="d-flex">
        <input type="text" class="form-control me-2" placeholder="Search" [(ngModel)]="searchQuery" (input)="filterAppointments()">
        <button class="btn btn-primary" (click)="loadAppointments()">Search</button>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="filteredAppointments.length > 0; else noData">
        <table class="table table-striped ">
          <thead class="thead-dark">
            <tr>
              <th>Appointment Date</th>
              <th>Patient Card Number</th>
              <th>Patient First Name</th>
              <th>Patient Last Name</th>
              <th>Reason</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of paginatedAppointments">
              <td>
                {{ appointment.appointmentDateTime | date: 'short' }}
                <i class="fa fa-calendar-times text-danger" *ngIf="!isFuture(appointment.appointmentDateTime)" ></i>
              </td>
              
              <td>{{ appointment.patientCardNumber }}</td>
              <td>{{ appointment.patientFirstName }}</td>
              <td>{{ appointment.patientLastName }}</td>
              <td style="max-width: 150px;">{{ appointment.reason }}</td>
              <td>
                <button class="btn btn-link p-0"  (click)="openEditModal(appointment)">
                  <i class="fas fa-pencil-alt text-warning fa-lg"></i>
              </button>
              <button class="btn btn-link p-0" (click)="deleteAppointment(appointment.id)">
                  <i class="fas fa-trash-alt text-danger fa-lg"></i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination -->
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
              <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{'active': page === currentPage}">
              <a class="page-link" (click)="changePage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages.length}">
              <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
      <ng-template #noData>
        <p>No appointments available.</p>
      </ng-template>
    </div>
  </div>

  <!-- Custom Modal -->
  <div class="modal" *ngIf="showModal" (click)="closeModal($event)">
    <div class="modal-dialog" (click)="stopPropagation($event)">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Appointment</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="saveAppointment()">
                    <div class="mb-3">
                        <label for="appointmentDateTime" class="form-label">Appointment Date & Time</label>
                        <input id="appointmentDateTime" formControlName="appointmentDateTime" type="datetime-local" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="reason">Reason</label>
                        <textarea class="form-control" id="reason" formControlName="reason" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
