
<div class="modal-body">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group" *ngIf="false">
      <label for="doctorId">DID:</label>
      <input type="text" id="doctorId" class="form-control" formControlName="doctorId" [attr.disabled]="true">
    </div>  -->
    <div class="form-group" *ngIf="false">
      <label for="patientId">PID:</label>
      <input type="text" id="patientId" class="form-control" formControlName="patientId" [attr.disabled]="true">
    </div> 
    <div class="form-group">
      <label for="weight">Patient Weight:</label>
      <input type="number" id="weight" class="form-control" formControlName="weight">
    </div>
    <div class="form-group">
      <label for="respiratoryRate">respiratoryRate:</label>
      <input type="number" id="respiratoryRate" class="form-control" formControlName="respiratoryRate">
    </div>
    <div class="form-group">
      <label for="systolicPressure">SystolicPressure:</label>
      <input type="number" id="systolicPressure" class="form-control" formControlName="systolicPressure">
    </div>
    <div class="form-group">
      <label for="diastolicPressure">DiastolicPressure:</label>
      <input type="number" id="diastolicPressure" class="form-control" formControlName="diastolicPressure">
    </div>
    <div class="form-group">
      <label for="pulseRate">PulseRate:</label>
      <input type="number" id="pulseRate" class="form-control" formControlName="pulseRate">
    </div>
    <div class="form-group">
      <label for="spO2">SpO2:</label>
      <input type="number" id="spO2" class="form-control" formControlName="spO2">
    </div>
    <div class="form-group">
      <label for="temperature">Temperature:</label>
      <input type="number" id="temperature" class="form-control" formControlName="temperature">
    </div>
    <div class="form-group">
      <label for="triage">Patient Type:</label>
      <select id="triage" class="form-control" formControlName="triage">
        <option value="emergency-trauma">Emergency-Trauma</option>
        <option value="emergency-non-trauma">Emergency-Non Trauma</option>
        <option value="regular">Regular</option>
        <option value="chronic-ncd">Chronic/NCD</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">Close</button>
      <button type="submit" class="btn btn-primary"> <i class="fas fa-pencil-alt"></i>Update</button>
    </div>
  </form>
</div>
