/* Styles for screen */
.container {
    padding: 20px;
  }
  
  .items-list {
    margin-top: 20px;
  }
  
  .item {
    margin-bottom: 20px;
  }
  
  /* Print-specific styles */
  @media print {
    .container {
      padding: 0;
    }
  
    .items-list {
      margin: 0;
    }
  
    .item {
      border: none;
      margin-bottom: 10px;
      padding: 0;
      page-break-inside: avoid;
    }
  
    button {
      display: none; /* Hide the print button when printing */
    }
  }
  