<div class="modal-body">
    <form [formGroup]="sickLeaveForm" (ngSubmit)="saveSickLeave()">
      <div class="mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" id="startDate" formControlName="startDate" class="form-control">
      </div>
      <div class="mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" id="endDate" formControlName="endDate" class="form-control">
      </div>
      <div class="mb-3">
        <label for="reason" class="form-label">Reason</label>
        <textarea id="reason" formControlName="reason" class="form-control"></textarea>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">Save Sick Leave</button>
      </div>
    </form>
  </div>
  